{deps, [
    {active,   ".*", {git, "git://github.com/synrc/active", {tag,"master"}}},
    {n2o,      ".*", {git, "git://github.com/5HT/n2o",    {tag,"master"}}},
    {kvs,      ".*", {git, "git://github.com/synrc/kvs",    {tag,"master"}}},
    {shen,     ".*", {git, "git://github.com/synrc/shen",   {tag,"master"}}}
]}.

{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
   {compiler_options, [report, return, debug_info]},
    {source_ext, ".htx"},
    {module_ext, "_view"}
]}.
