{deps, [
    {erlydtl,  ".*", {git, "git://github.com/voxoz/erlydtl",[] }},
    {active,   ".*", {git, "git://github.com/synrc/active", [] }},
    {nitro,    ".*", {git, "git://github.com/synrc/nitro",  [] }},
    {n2o,      ".*", {git, "git://github.com/synrc/n2o",    [] }},
    {kvs,      ".*", {git, "git://github.com/synrc/kvs",    [] }},
    {shen,     ".*", {git, "git://github.com/synrc/shen",   [] }}
]}.

{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
   {compiler_options, [report, return, debug_info]},
    {source_ext, ".htx"},
    {module_ext, "_view"}
]}.
