[{bert,[{js,"priv/static"},
        {swift,"priv/swift"}]},
 {n2o,[{port,8042},
       {ws_services, [chat,crm]},
       {mqtt_services, []},
       {app,chat},
       {upload,"./priv/static/"},
       {mq,n2o_syn},
       {formatter,chat_ber},
       {proto,chat_server},
       {protocols,[n2o_heart,chat_ber,chat_txt]},
       {session,n2o_session},
       {origin,<<"*">>},
       {pickler,n2o_secret},
       {event,pickle}]},
 {kvs,[{dba, kvs_rocks},
       {dba_st, kvs_st},
       {schema, [kvs,kvs_stream,chat]}]}].
