[{bert,[{js,"priv/static"},
        {swift,"priv/swift"}]},
 {n2o,[{port,8042},
       {cowboy_spec,cow2},
       {app,review},
       {upload,"./priv/static/"},
       {mq,n2o_syn},
       {formatter,n2o_bert},
       {protocols,[n2o_heart,chat_client,chat_server]},
       {log_modules,[n2o_session,n2o_nitro,n2o_proto,n2o_cowboy,n2o_stream]},
       {log_backend,n2o_io},
       {session,n2o_session},
       {origin,<<"*">>},
       {pickler,n2o_pickle},
       {erroring,n2o},
       {event,pickle}]},
 {kvx,[{dba, kvx_rocks},
       {dba_st, kvx_st},
       {log_modules,[kvx,kvx_st,kvx_stream]},
       {schema, [kvx,kvx_stream,chat]}]}].
