[{bert,[{js,"priv/static"},
        {swift,"priv/swift"}]},
 {n2o,[{port,8042},
       {ws_services, ["chat","crm"]},
       {mqtt_services, []},
       {cowboy_spec,cow2},
       {app,chat},
       {upload,"./priv/static/"},
       {mq,n2o_syn},
       {formatter,chat_ber},
       {proto,chat_server},
       {protocols,[n2o_heart,chat_ber,chat_txt]},
       {log_modules,[chat,chat_txt,chat_server,chat_ber,chat,n2o_proto,n2o_cowboy,n2o_stream]},
       {log_backend,n2o_io},
       {session,n2o_session},
       {origin,<<"*">>},
       {pickler,n2o_pickle},
       {erroring,n2o},
       {event,pickle}]},
 {kvs,[{dba, kvs_rocks},
       {dba_st, kvs_st},
       {schema, [kvs,kvs_stream,chat]}]}].
